<div>
<!-- views/index.hbs -->
<h1>Welcome to the Beers App!</h1>
<img src="/public/images/beer_image.jpg" alt="Beer" />
<div>
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beer">Check a Random Beer</a>
</div>

</div>